# Node modules
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Build output
dist
build
coverage

# IDE/editor files
.vscode
.idea

# Temporary files
tmp
temp
*.swp